/* all --------------------------*/

*{position: relative;word-break: keep-all;color : #616161;font-weight: 500;}
img{max-width: 100%;}
@media screen and (max-width: 480px){ 
    *{word-break: break-all;}
}

.bg{background-repeat: no-repeat;background-size: cover;background-position: center center;}

.flex_con{display: -webkit-flex;display: -moz-flex;display: -ms-flex;display: -o-flex;display: flex;justify-content: space-between;}
.ab_center{position: absolute;top : 50%;left : 50%;transform: translate(-50%, -50%);}


/* font --------------------------*/
.ta_c{text-align: center;}

/* font size */
.fz_32{font-size: 1.5rem;}
.fz_24{font-size: 1.125rem;}
.fz_18{font-size: 1rem;}
.fz_16{font-size: 0.9rem;}
.fz_0{font-size: 0;}

/* font weight */
.fw_eb{font-weight: 900;}
.fw_b{font-weight: 700;}

/* font color */
.fc_w{color: #fff;}
.fc_dg{color: #2c2c2c;}



/* margin --------------------------*/
.mt_64{margin-top: 64px;}
.mb_64{margin-bottom: 64px;}
.mt_32{margin-top: 32px;}
.mb_32{margin-bottom: 32px;}
.mt_16{margin-top: 16px;}
.mb_16{margin-bottom: 16px;}

@media screen and (max-width: 480px){ 
    

}





/* section --------------------------*/
.wrap{width: calc(100% - 24px);max-width: 864px;margin: 0 auto;}
.wrap_pd{padding: 120px 0;}
.wrap_pt{padding-top: 120px;}
.wrap_pb{padding-bottom: 120px;}

.mo_con{display: none;}


@media screen and (max-width: 480px){ 
    .wrap_pd{padding: 64px 0;}
    .wrap_pt{padding-top: 64px;}
    .wrap_pb{padding-bottom: 64px;}
    
    .pc_con{display: none;}
    .mo_con{display: block;}
}




/* etc */
section .tit_con{padding: 32px 0;min-height: 240px;}
section .flex_con .img_con,section .flex_con .txt_con{width: 100%;max-width: 400px;}

.con_line{border-bottom : 16px solid #f9f9fb;}

.link_btn{display: block;width: 100%;max-width: 400px;height: 56px;line-height: 56px;border: 1px solid #616161;box-sizing: border-box;margin: 0 auto;}


@media screen and (max-width: 860px){
    section .flex_con{display: block;text-align: center;}
    section .flex_con .img_con,section .flex_con .txt_con{margin: 0 auto;}
    section .flex_con > div:not(:last-child){margin-bottom: 64px;}
}

@media screen and (max-width: 480px){
    section .flex_con .txt_con{text-align: left;max-width: 100%}
    section .flex_con .txt_con h4{text-align: center;}
    
    .link_btn{margin-top: 64px;}
}

